.tabs{
    position: relative;
    margin: 20px;
    height: 40px;
    width: auto;
    display: flex;
}

.tab{
    text-decoration: none;
    width: 50%;
    background-color: transparent;
    padding-top: 10px;
    padding-bottom: 10px;
    border-radius: 0px;
    color: white;
    font-size: 20px;
    font-weight: 600;
    padding-left: -100px;
}

.tab button.active{
    background-color: black;
}