@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;0,400;0,500;0,600;0,700;0,800;1,300&display=swap');

*{
    margin: 0;
    padding: -1;
    font-family: 'Poppins', 'sans-serif';
}

header{
    background-image: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)) ,url('../images/wojny-meneli-teaser-render.png');
    height: 40vh;
    width: auto;
    background-size: cover;
    background-position: center;
}

@keyframes animate{
    0%,100%{
        background-image: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)) ,url('../images/wojny-meneli-teaser-render.png');
    }
}

@-webkit-keyframes animate{
    0%,100%{
        background-image: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)) ,url('../images/wojny-meneli-teaser-render.png');
    }
}

:root {
    --background-color: #222222;
  }

.background-images{
    height: 40vh;
    width: auto;
    background-size: cover;
    background-position: center;

    -webkit-animation: animate 30s ease-in-out infinite;
    -moz-animation: animate 30s ease-in-out infinite;
    -o-animation: animate 30s ease-in-out infinite;
    animation-name: animate;
    animation-duration: 30s;
    animation-timing-function: ease-in-out;
    animation-fill-mode: forwards;
    animation-iteration-count: infinite;
    background-attachment: fixed;
    -webkit-transition: background-image 0.2s ease-in-out;
    transition: background-image 0.2s ease-in-out;
}

.gradient-0deg{
    position: relative;
    width: 100%;
    height: 30%;
    top: 70%;
    left: 0;
    content: "";
    background: linear-gradient(0deg, var(--background-color), transparent 100%);
}

.home-title{
    animation: 1s ease-out 0s 1 slideInFromTop2;
}

h6{
    color: #fff;
}

.logo img{
    float: left;
    width: 150px;
    margin: 20px;
    height: auto;
}

.main{
    animation: 1s ease-out 0s 1 slideInFromTop;
    margin: auto;
    max-width: 1200px;
}

.title{
    left: 50%;
    padding-bottom: 25%;
    transform: translate(-50%, -50%);
}

.title h1{
    color: #fff;
    font-size: 70px;
    text-shadow: 0px 0px 15px rgba(0, 0, 0, 0.6), 0px 0px 15px rgba(0, 0, 0, 0.6);
    text-decoration: none;
    text-align: center;
}
.title h3{
    color:rgba(241, 255, 39, 0.808);
    font-size: 30px;
    text-shadow: 0px 0px 15px rgba(0, 0, 0, 0.6), 0px 0px 15px rgba(0, 0, 0, 0.6);
    text-decoration: none;
    text-align: center;
}

p{
    font-family: 'Poppins', 'sans-serif';
    font-weight: 400;
    display: flex;
    padding-top: 1.5%;
    padding-left: 4%;
    padding-right: 3%;
    text-align: center;
    border-radius: 3px;
    color: hsla(0, 0%, 100%, 0.9);
    font-size: 2rem;
}

.list{
    display: grid;

    position: relative;
    right: 0.5%;
    justify-content: center;
}

.name{
    position: relative;
    padding: 10px;
    margin: auto;
    right: 0.5%;
    justify-content: center;
}

.actors{
    position: relative;
    display: flex;
    margin: auto;
    flex-wrap: wrap;
}

.actors .name h4{
    font-family: 'Poppins', 'sans-serif';
    justify-content: center;
    display: flex;
    font-weight: 800;
    padding-top: 1%;
    padding-left: 4%;
    padding-right: 3%;
    text-align: center;
    border-radius: 3px;
    color: hsla(0, 0%, 100%, 0.767);
    font-size: 2.7rem;
    text-align: center;
}

span{
    font-family: 'Poppins', 'sans-serif';
    justify-content: center;
    display: flex;
    font-weight: 400;
    padding-top: 1.5%;
    padding-left: 4%;
    padding-right: 3%;
    text-align: center;
    border-radius: 3px;
    color: hsla(0, 0%, 100%, 0.479);
    font-size: 2.5rem;
    text-align: center;
}

span:hover{
    font-family: 'Poppins', 'sans-serif';
    font-weight: 400;
    padding-top: 1.5%;
    padding-left: 4%;
    padding-right: 3%;
    text-align: center;
    border-radius: 3px;
    color: hsla(0, 0%, 100%, 0.836);
    font-size: 2.5rem;
    cursor: pointer;
    text-decoration: underline;
}

.title2{
    text-decoration: none;
    margin-top: 60px;
    margin-bottom: 40px;
}

.title2 h2{
    color: #fff;
    font-size: 45px;
    text-shadow: 0px 0px 25px rgba(0, 0, 0, 0.6), 0px 0px 25px rgba(0, 0, 0, 0.6);
    text-decoration: none;
    text-align: center;
}

.title2 h1{
    color: #fff;
    font-size: 70px;
    text-shadow: 0px 0px 25px rgba(0, 0, 0, 0.6), 0px 0px 25px rgba(0, 0, 0, 0.6);
    text-decoration: none;
    text-align: center;
}
.title2 h3{
    color:rgba(241, 255, 39, 0.808);
    font-size: 25px;
    text-shadow: 0px 0px 25px rgba(0, 0, 0, 0.6), 0px 0px 25px rgba(0, 0, 0, 0.6);
    text-decoration: none;
    text-align: center;
}

@media only screen and (min-width: 360px) and (max-width: 400px) {

    header{
        background-image: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)) ,url('images/background_test.png');
        height: 80vh;
        width: auto;
        background-size: cover;
        background-position: center;
    }

    .background-images{
        height: 80vh;
        width: auto;
        background-size: cover;
        background-position: center;
    
        -webkit-animation: animate 30s ease-in-out infinite;
        -moz-animation: animate 30s ease-in-out infinite;
        -o-animation: animate 30s ease-in-out infinite;
        animation-name: animate;
        animation-duration: 30s;
        animation-timing-function: ease-in-out;
        animation-fill-mode: forwards;
        animation-iteration-count: infinite;
    }
    
  }
  
  @media only screen and (min-width: 401px) and (max-width: 415px) {

    header{
        background-image: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)) ,url('images/background_test.png');
        height: 80vh;
        width: auto;
        background-size: cover;
        background-position: center;
    }

    .background-images{
        height: 80vh;
        width: auto;
        background-size: cover;
        background-position: center;
    
        -webkit-animation: animate 30s ease-in-out infinite;
        -moz-animation: animate 30s ease-in-out infinite;
        -o-animation: animate 30s ease-in-out infinite;
        animation-name: animate;
        animation-duration: 30s;
        animation-timing-function: ease-in-out;
        animation-fill-mode: forwards;
        animation-iteration-count: infinite;
    }
  }
  
  @media only screen and (min-width: 416px) and (max-width: 500px) {

    header{
        background-image: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)) ,url('images/background_test.png');
        height: 80vh;
        width: auto;
        background-size: cover;
        background-position: center;
    }

    .background-images{
        height: 80vh;
        width: auto;
        background-size: cover;
        background-position: center;
    
        -webkit-animation: animate 30s ease-in-out infinite;
        -moz-animation: animate 30s ease-in-out infinite;
        -o-animation: animate 30s ease-in-out infinite;
        animation-name: animate;
        animation-duration: 30s;
        animation-timing-function: ease-in-out;
        animation-fill-mode: forwards;
        animation-iteration-count: infinite;
    }

    .logo img{
        float: left;
        width: 100px;
        margin: 20px;
        height: auto;
    }
  }
  
  @media only screen and (min-width: 760px) and (max-width: 915px) {

    header{
        background-image: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)) ,url('images/background_test.png');
        height: 80vh;
        width: auto;
        background-size: cover;
        background-position: center;
    }

    .background-images{
        height: 80vh;
        width: auto;
        background-size: cover;
        background-position: center;
    
        -webkit-animation: animate 30s ease-in-out infinite;
        -moz-animation: animate 30s ease-in-out infinite;
        -o-animation: animate 30s ease-in-out infinite;
        animation-name: animate;
        animation-duration: 30s;
        animation-timing-function: ease-in-out;
        animation-fill-mode: forwards;
        animation-iteration-count: infinite;
    }

    .title{
        left: 50%;
        padding-bottom: 10%;
        transform: translate(-50%, -50%);
    }

    .logo img{
        float: left;
        width: 100px;
        margin: 20px;
        height: auto;
    }
  }

  @media only screen and (max-width: 1080px) {

    header{
        background-image: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)) ,url('images/background_test.png');
        height: 80vh;
        width: auto;
        background-size: cover;
        background-position: center;
    }

    .background-images{
        height: 80vh;
        width: auto;
        background-size: cover;
        background-position: center;
    
        -webkit-animation: animate 30s ease-in-out infinite;
        -moz-animation: animate 30s ease-in-out infinite;
        -o-animation: animate 30s ease-in-out infinite;
        animation-name: animate;
        animation-duration: 30s;
        animation-timing-function: ease-in-out;
        animation-fill-mode: forwards;
        animation-iteration-count: infinite;
    }

    .title{
        left: 50%;
        padding-bottom: 10%;
        transform: translate(-50%, -50%);
    }
    
    .logo img{
        float: left;
        width: 100px;
        margin: 20px;
        height: auto;
    }
  }