@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;0,400;0,500;0,600;0,700;0,800;1,300&display=swap');

*{
    margin: 0;
    padding: -1;
    font-family: 'Poppins', 'sans-serif';
    box-sizing: border-box;
}

:root {
    --background-color: #222222;
  }

  header{
    /*OBRAZ NAD NAGŁÓWKIEM DO KAŻDEGO ARTYKUŁY ZNAJDUJĄ SIĘ W PLIKACH .css Z NAZWĄ TAKĄ SAMĄ JAK PLIK .html ARTYKUŁU*/
    height: 40vh;
    width: auto;
    background-size: cover;
    background-position: center;
}

.background-images{
    height: 40vh;
    width: auto;
    background-size: cover;
    background-position: center;
}

.gradient-0deg{
    position: relative;
    width: 100%;
    height: 30%;
    top: 70%;
    left: 0;
    background: linear-gradient(0deg, var(--background-color), transparent 100%);
}

h6{
    color: #fff;
}

.logo img{
    width: 150px;
    margin: 20px;
    height: auto;
}

.main{
    margin: auto;
    max-width: 1200px;
    position: absolute;
}

.home-title{
    position: relative;
    right: 50%;
    max-width: 700px;
}

.title h1{
    color: #fff;
    font-size: 70px;
    text-shadow: 0px 0px 15px rgba(0, 0, 0, 0.6), 0px 0px 15px rgba(0, 0, 0, 0.6);
    text-decoration: none;
    text-align: center;
}
.title h3{
    color:rgba(241, 255, 39, 0.808);
    font-size: 30px;
    text-shadow: 0px 0px 15px rgba(0, 0, 0, 0.6), 0px 0px 15px rgba(0, 0, 0, 0.6);
    text-decoration: none;
    text-align: center;
}

  /*---------------------------------------------------------------------------------*/

  .text-description{
    position: relative;
    display: block;
    height: auto;
    max-width: 915px;
    left: 50%;
    transform: translate(-50%, 0%);
}

.text-description p{
    font-family: 'Poppins', 'sans-serif';
    font-weight: 400;
    display: flex;
    padding-top: 1.5%;
    padding-left: 4%;
    padding-right: 3%;
    text-align: left;
    border-radius: 3px;
    color: hsla(0, 0%, 100%, 0.61);
    font-size: 2.1rem;
}

.blog-img{
    position: relative;
    height: auto;
    display: flex;
    border-radius: 5%;
    margin-top: 50px;
    margin-bottom: 50px;
    min-width: 350px;
    max-width: 850px;
    left: 50%;
    transform: translate(-50%, 0%);
}

.blog-img img{
    display: flex;
    border-radius: 30px;
    position: relative;
    height: auto;
    min-width: 350px;
    max-width: 850px;
}

.text h5{
    position: relative;
    color:rgba(255, 255, 255, 0.808);
    font-size: 30px;
    text-decoration: none;
    text-align: center;
    top: 340px;
    left: 0px;

}

.text h4{
    position: relative;
    justify-content: center;
    font-family: 'Poppins', 'sans-serif';
    display: flex;
    left: 0px;
    top: 340px;
    font-weight: 800;
    text-align: center;
    border-radius: 3px;
    color: hsla(0, 0%, 100%, 0.904);
    font-size: 3.5rem;
}

.title2 span{
    font-family: 'Poppins', 'sans-serif';
    font-weight: 400;
    color: hsla(0, 0%, 100%, 0.479);
    font-size: 2.5rem;
}

.title2{
    text-decoration: none;
    margin-top: 60px;
    margin-bottom: 40px;
    text-align: center;
}

.title2 h2{
    color: #fff;
    font-size: 45px;
    text-shadow: 0px 0px 25px rgba(0, 0, 0, 0.6), 0px 0px 25px rgba(0, 0, 0, 0.6);
}

.title2 h1{
    color: #fff;
    font-size: 70px;
    text-shadow: 0px 0px 25px rgba(0, 0, 0, 0.6), 0px 0px 25px rgba(0, 0, 0, 0.6);
}
.title2 h3{
    color:rgba(241, 255, 39, 0.808);
    font-size: 25px;
    text-shadow: 0px 0px 25px rgba(0, 0, 0, 0.6), 0px 0px 25px rgba(0, 0, 0, 0.6);
}

.highlight{
    background-color: rgba(229, 255, 0, 0.158);
    padding-bottom: 1.5%;
}

.quote{
    background-color: rgba(88, 88, 88, 0.308);
    padding-bottom: 1.5%;
    font-style: italic;
}

.text-description .quote-author{
    font-weight: 600;
    display: flex;
    padding-top: 1.5%;
    padding-left: 4%;
    padding-right: 3%;
    padding-bottom: 1.5%;
    text-align: left;
    color: hsl(0, 0%, 100%);
    font-style: italic;
    font-size: 2rem;
    background-color: rgba(88, 88, 88, 0.308);
}

.link{
    font-family: 'Poppins', 'sans-serif';
    font-weight: 400;
    padding-left: 1%;
    text-align: left;
    border-radius: 3px;
    font-size: 2.1rem;
    color: hsla(0, 0%, 100%, 0.925);
}

.link:hover{
    color: hsl(204, 100%, 50%);
    text-decoration: underline;
}

@media only screen and (min-width: 360px) and (max-width: 374px) {


    
  }

  @media only screen and (min-width: 375px) and (max-width: 383px) {



  }

  @media only screen and (min-width: 384px) and (max-width: 400px) {


    
  }
  
  @media only screen and (min-width: 401px) and (max-width: 415px) {


  }
  
  @media only screen and (min-width: 416px) and (max-width: 759px) {



  }
  
  @media only screen and (min-width: 760px) and (max-width: 914px) {



  }

  @media only screen and (min-width: 915px) and (max-width: 1079px) {



  }